<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网络视频安全</title>

    <link rel='stylesheet' href='../static/css/chosen.min.css'>
    <link rel="stylesheet" href="../static/css/base.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src='../static/js/chosen.jquery.js'></script>


</head>
<body>

<!--导航开始-->
<div class="nav">
    <div class="nav-lf">网络视频安全</div>
    <div class="nav-rt">
        <ul>
            <!--<a href="/scan/"><li class="menu-nor menu-active">摄像头</li></a>-->
            <a href="/scan/"><li class="menu-nor">摄像头</li></a>
            <li class="menu-nor">路由器</li>
            <li class="menu-nor">交换机</li>
            <a href="/search/"><li class="menu-nor">查询</li></a>
            <a href="/config/"><li class="menu-nor">配置</li></a>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<!--导航结束-->


{% block main %}

{% endblock %}




</body>
</html>

