<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网络视频安全</title>

    <link rel='stylesheet' href='../static/css/chosen.min.css'>
    <link rel="stylesheet" href="../static/css/base.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src='../static/js/chosen.jquery.js'></script>

</head>
<body>

<!--导航开始-->
<div class="nav">
    <div class="nav-lf">网络视频安全</div>
    <div class="nav-rt">
        <ul>
            <li class="menu-nor menu-active">摄像头</li>
            <li class="menu-nor">路由器</li>
            <li class="menu-nor">交换机</li>
            <li class="menu-nor">查询</li>
            <li class="menu-nor">配置</li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<!--导航结束-->

<!--正在扫描开始-->
<div class="b-block">
    <div class="b-cur">
        <div class="b-md">
            <div class="b-cur-lf">
                <img src="../static/images/e-h.png">
            </div>
            <div class="b-cur-md">扫描完成：扫描到XX条数据！</div>
            <div class="b-cur-rt">
                <div class="b-btn v-gra">返回</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="b-bar">
        <div class="b-bar-cur" style="width:100%"></div>
        <div class="b-text">
            <span>当前进度为：</span>
            <span class="pro-speed">100%</span>
        </div>
    </div>
    <div class="b-result">
        <div class="b-result-each">扫描结果：XXXXX</div>
        <div class="b-result-each">扫描结果：XXXXX</div>
        <div class="b-result-each">扫描结果：XXXXX</div>
        <div class="b-result-each">扫描结果：XXXXX</div>
    </div>
</div>
<!--正在扫描结束-->


<script src="../static/js/base.js"></script>

</body>
</html>